<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/customer.css">
</head>
<body>
    <a href="/profile" style="background-color: brown; color: whitesmoke; padding: 4px;">Go to Home page</a>
    <h1>Here is the list of customers near you </h1>

    <% requirements.forEach(function(elem){ %>
        <div class="kaarigar">
            <div class="image-container">
              <img class="imageKar" src="/images/Customer2.jpg" alt="">
            </div>
            <div class="details-container">
              <h3><%=elem.User.name%> needs a <%=elem.kaarigarType%></h3>
              <h5><%=elem.description%></h5>
              <p></p>
              <p><%=elem.User.locationName%></p>
              <a href="tel:<%=elem.User.mobile%>">Call Now</a>
            </div>
            <a href="https://www.google.com/maps/search/?api=1&query=<%=elem.User.lat%>,<%=elem.User.long%>">
                <img class="mapIm" src="/images/googlemap.png" alt="">
            </a>
        </div>
    <% }) %>
<!-- 
    <script>
      document.getElementById('searchInput').addEventListener('input', function() {
          var searchValue = this.value.toLowerCase();
          var kaarigars = document.querySelectorAll('.kaarigar');
  
          kaarigars.forEach(function(kaarigar) {
              var professionElement = kaarigar.querySelector('.details-container h5 span');
              
              // Check if the profession element exists before trying to access its text content
              if (professionElement) {
                  var profession = professionElement.innerText.toLowerCase();
                  if (profession.includes(searchValue)) {
                      kaarigar.style.display = 'block';
                  } else {
                      kaarigar.style.display = 'none';
                  }
              }
          });
      });
  </script> -->
</body>
</html>
